<div class="row">
  <div class="large-6 columns">
    <h1>What is Biographer?</h1>
    <p>Biographer is a cross platform profiler that allows you to modify your bio across multiple websites. Once you update your bio on Biographer it automatically updates on all websites affiliated with your personal accounts, making it easy and convenient to update who you are.
    </p>
    <p>Sign up or use the demo credentials (demo@demo.com password) and go <a href="http://biographer-demo.herokuapp.com/">here</a> to see it in action!</p>
  </div>
  <div class="large-6 columns">
    <img src="http://placehold.it/640x480">
  </div>
</div>
